.container{
    padding-left: 9px;
    padding-right: 25px;
}
.box{
    max-width: 59rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 5px;
    padding: 10px;
    margin-top: 25px;
    border: 1px black;
    background-color: white;
}